/* HTML */
* {
  padding: 0;
  margin: 0;
}

/* FIN HTML */
/* BODY */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* FIN BODY */
/* IMG SIZE */
img {
  width: 100%;
}

/* FIN IMG SIZE */
/* HEADER */
header nav {
  padding: 10px;
  background-color: #DAB88B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a .logo {
  width: 30%;
  margin: 5px 0 5px 15px;
  display: flex;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav a .logo {
    margin: 0;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav a {
    display: flex;
    justify-content: center;
  }
}
header nav h1 {
  text-decoration: underline;
}
header nav ul {
  list-style: none;
  margin-right: 25px;
  margin-bottom: 0;
  display: flex;
}
header nav ul li {
  margin-right: 25px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #F3E9DD;
  transition: all 0.2s;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav ul li a {
    font-size: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  header nav ul li a {
    font-size: 19px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav ul li {
    margin: 10px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav ul {
    margin: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  header nav {
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav {
    flex-direction: column;
  }
}

/* FIN HEADER */
/* INICIO */
main .inicio-container {
  background-color: #F3E9DD;
}
main .difProd-container {
  margin-top: 30px;
  display: flex;
}
main .difProd-container .dif-prod {
  width: 20%;
}

/* FOOTER */
footer {
  background-color: #DAB88B;
}
footer div {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div p {
  font-weight: bold;
  margin: 0;
}

/* FIN FOOTER */
/* MAIN */
main .titulo-productos {
  text-align: center;
}
main .titulo-productos h2 {
  padding: 20px;
}
main .container .row .col-xs-12 .box {
  background-color: #FDF6EC;
  border-radius: 1%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main .container .row .col-xs-12 .box:hover {
  transform: scale(1.025);
  transition: all 0.3s;
}
main .container .row .col-xs-12 .box .titulo-box {
  text-align: center;
  padding: 5px;
}
main .container .row .col-xs-12 .box .precio-box {
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
}
main .container .row .col-xs-12 .box .boton-container .boton-box {
  border-radius: 2%;
  margin-top: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #B7CADB;
  width: 100%;
  border: none;
}

/* main {
    .titulo-productos {
        background-color: $bg-color;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .productos-container {
    background-color: $bg-color;
    display: flex;
    .box-container {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
            width: 15%;
            background-color: $card-color;
            border-radius: 1%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            &:hover {
                transform: scale(1.025);
                transition: all 0.3s;
            }

            .titulo-box {
                text-align: start;
                padding: 5px;
            }
            .img-container {
                display: flex;
                justify-content: center;
                img {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            }
            .parrafoBox-container {
                margin-left: 5px;
                .parrafo-box {
                    text-align: start;
                }
            }
            .precio-box {
                padding: 5px;
                font-weight: bold;
                font-size: 20px;
            }
            .boton-container {
                .boton-box {
                border-radius: 2%;
                margin-top: 15px;
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
                background-color: $bg-boton;
                width: 100%;
                border: none;
            }
            }
            @media screen and (max-width: 576px) and (max-height: 915px) {
                width: 90%;
            }
            @media screen and (min-width: 576px) and (max-width: 730px) {
                width: 75%;
            }
            @media screen and (min-width: 731px) and (max-width: 1200px) {
                width: 25%;
                margin: 5px;
            }
        }
    @media screen and (max-width: 576px) and (max-height: 915px) {
    flex-direction: column;
    }
    @media screen and (min-width: 577px) and (max-width: 730px) {
    flex-direction: column;
    }
    @media screen and (min-width: 576px) and (max-width: 1200px) {
        justify-content: space-between;
    }
    }
@media screen and (min-width: 576px) and (max-width: 730px) {
    justify-content: center;
    }
}
} */
/* FIN MAIN */
/* PREGUNTAS */
.preguntas-container {
  height: 725px;
  background-color: #F3E9DD;
}

.titulo-formCont h1 {
  padding: 30px;
}

form {
  margin: 0 auto;
  width: 400px;
}
form label {
  display: block;
  margin-top: 20px;
}
form input, form textarea {
  width: 380px;
  height: 27px;
  background: #FDF6EC;
  border: 2px solid #DAB88B;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: black;
}
form textarea {
  height: 150px;
}
form div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
form div #submit {
  width: 85px;
  height: 35px;
  border: none;
  background-color: #DAB88B;
  margin-top: 20px;
  cursor: pointer;
}

section .info-container {
  background-color: #B7CADB;
  padding: 150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
section .info-container .datos-container .tit-container p {
  font-weight: bold;
  margin-bottom: 1rem;
}
section .info-container .datos-container .datos ul {
  list-style: none;
  padding: 0;
}
section .info-container .horarios-container .tit-container p {
  font-weight: bold;
  margin-bottom: 1rem;
}
section .info-container .horarios-container .horarios ul {
  list-style: none;
  padding: 0;
}
section .info-container .redes-container .tit-container p {
  font-weight: bold;
  margin-bottom: 1rem;
}
section .info-container .redes-container .logos-container {
  display: flex;
  justify-content: space-around;
}
section .info-container .redes-container .logos-container ul {
  list-style: none;
  padding: 0;
  display: flex;
}
section .info-container .redes-container .logos-container ul li {
  margin: 0 5px;
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  section .info-container {
    justify-content: space-between;
    padding: 100px;
  }
}

main {
  background-color: #F3E9DD;
}
main .contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .contacto-container .formulario {
  width: 30%;
  display: flex;
  justify-content: center;
}
main .contacto-container .formulario .componentes-form .nom-form {
  padding: 5px;
}
main .contacto-container .formulario .componentes-form .nom-form .nom {
  padding: 10px;
}
main .contacto-container .formulario .componentes-form .mail-form {
  padding: 5px;
}
main .contacto-container .formulario .componentes-form .mail-form .mail {
  padding: 10px;
}
main .contacto-container .formulario .componentes-form .text-form {
  padding: 5px;
}
main .contacto-container .formulario .componentes-form .boton-formCont {
  padding: 5px;
  display: flex;
  justify-content: center;
}
main .contacto-container .formulario .componentes-form .boton-formCont .boton-form {
  padding: 10px;
}

.mapa-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #F3E9DD;
}
main .contenedor {
  display: flex;
  justify-content: center;
}
main .contenedor .detail-container {
  width: 60%;
  display: flex;
  background-color: #FDF6EC;
  margin: 20px;
}
main .contenedor .detail-container .img-detailCont {
  width: 60%;
}
main .contenedor .detail-container .info-detailCont {
  width: 40%;
}
main .contenedor .detail-container .info-detailCont .detail-tit {
  display: flex;
  justify-content: center;
  padding: 20px;
}
main .contenedor .detail-container .info-detailCont .detail-tit h1 {
  padding: 15px;
}
main .contenedor .detail-container .info-detailCont .descripcion-det {
  margin-left: 10px;
  font-size: 20px;
}
main .contenedor .detail-container .info-detailCont .boton-detail {
  display: flex;
  justify-content: center;
}
main .contenedor .detail-container .info-detailCont .boton-detail input {
  border-radius: 2%;
  margin-top: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #B7CADB;
  width: 60%;
  border: none;
}

/*# sourceMappingURL=style.css.map */
