/* HTML */
* {
  padding: 0;
  margin: 0;
}

/* FIN HTML */
/* BODY */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* FIN BODY */
/* IMG SIZE */
img {
  width: 100%;
}

/* FIN IMG SIZE */
/* HEADER */
header nav {
  padding: 10px;
  background-color: #DAB88B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 40%;
  margin: 5px 0 5px 15px;
  display: flex;
}
header nav h1 {
  text-decoration: underline;
}
header nav ul {
  list-style: none;
  margin-right: 25px;
  margin-bottom: 0;
  display: flex;
}
header nav ul li {
  margin-right: 25px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 17px;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #F3E9DD;
  transition: all 0.2s;
}

/* FIN HEADER */
/* INICIO */
main .inicio-container {
  background-color: #F3E9DD;
}
main .difProd-container {
  margin-top: 30px;
  display: flex;
}
main .difProd-container .dif-prod {
  width: 20%;
}
main .info-container {
  background-color: #F3E9DD;
  padding: 150px;
  display: flex;
  justify-content: space-around;
}
main .info-container .datos-container .tit-container p {
  font-weight: bold;
}
main .info-container .datos-container .datos .num p {
  margin: 0;
}
main .info-container .horarios-container .tit-container p {
  font-weight: bold;
}
main .info-container .horarios-container .horarios .dias p {
  margin: 0;
}
main .info-container .redes-container .tit-container p {
  font-weight: bold;
}
main .info-container .redes-container .logos-container {
  display: flex;
  justify-content: space-around;
}
main .info-container .redes-container .logos-container .ig a img {
  width: 100%;
}
main .info-container .redes-container .logos-container .fb a img {
  width: 100%;
}

/* FOOTER */
footer {
  background-color: #DAB88B;
}
footer div {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div p {
  margin: 0;
}

/* FIN FOOTER */
/* MAIN */
.productos-container {
  height: 725px;
  background-color: #F3E9DD;
  display: flex;
}
.productos-container .box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productos-container .box-container .box {
  width: 20%;
  background-color: #FDF6EC;
  border: 1px solid black;
  border-radius: 1%;
  /* padding: 5px; */
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.productos-container .box-container .box .titulo-box {
  text-align: center;
  padding: 10px;
}
.productos-container .box-container .box .img-container {
  display: flex;
  justify-content: center;
}
.productos-container .box-container .box .img-container img {
  width: 75%;
  border: 1px solid black;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}
.productos-container .box-container .box .parrafoBox-container .parrafo-box {
  margin-top: 5px;
  padding: 3px;
}
.productos-container .box-container .box .precio-box {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.productos-container .box-container .box .boton-container {
  padding: 2px;
}
.productos-container .box-container .box .boton-container .boton-box {
  border-radius: 2%;
  margin-top: 15px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #B7CADB;
  width: 100%;
  border: 1.5px solid black;
  /* border-top: 2px solid black; */
}

/* FIN MAIN */
/* ENVIOS */
.envios-container {
  height: 725px;
  background-color: lightblue;
}

/* PREGUNTAS */
.preguntas-container {
  height: 725px;
  background-color: lightblue;
}

/* ENVIOS */
.envios-container {
  height: 725px;
  background-color: lightblue;
}

/* MI CUENTA */
.cuenta-container {
  height: 725px;
  background-color: lightblue;
}

/*# sourceMappingURL=style.css.map */
