/* DETAIL */

main {
    .contenedor {
        display: flex;
        justify-content: center;
        .detail-container {
            width: 60%;
            display: flex;
            background-color: $card-color;
            margin: 20px;
            .img-detailCont {
                width: 100%;
                .img-detail {
                    width: 100%;
                }
            }

            .info-detailCont {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .detail-tit {
                    display: flex;
                    justify-content: center;
                    padding: 20px;
                    h1 {
                    padding: 15px;
                    }
                }

                .descripcion-det {
                    /* margin-left: 10px; */
                    text-align: center;
                    font-size: 20px;
                    .precio {
                        font-size: 35px;
                        margin: 20px;
                    }

                    .medios-pago {
                        img {
                            width: 10%;
                        }
                    }
                }

                .boton-detail {
                    margin: 20px;
                    display: flex;
                    justify-content: center;
                    input {
                        border-radius: 2%;
                            margin-top: 5px;
                            padding: 10px;
                            font-size: 18px;
                            font-weight: bold;
                            background-color: $bg-boton;
                            width: 60%;
                            border: none;
                    }
                }
            }
        @media screen and (max-width: 576px){
            flex-direction: column;
            width: 90%;
            }
        @media screen and (min-width: 577px) and (max-width: 968px){
            flex-direction: column;
            width: 60%;
            }
        @media screen and (min-width: 969px) and (max-width: 1453px){
            width: 90%;
            }
        }
    } 
}

/* FIN DETAIL */
