/* FOOTER */

footer {
    background-color: lightcoral;
    border: 2px solid rgb(231, 57, 57);
    border-radius: 2px;
    .logosFooter-container {
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        a {
            padding: 15px;
            img {
                width: 200%;
            }
        }
    }
}

/* FIN FOOTER */