/* FOOTER */
@import "../base/variables";
footer {
    background-color: #DAB88B;
    div {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-weight: bold;
            margin: 0;

            @media screen and (max-width: 576px) and (max-height: 915px) {
                font-size: 12px;
            }
        }
    }
}

/* FIN FOOTER */