/* FOOTER */
@import "../base/variables";
footer {
    background-color: #DAB88B;
    div {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-weight: bold;
            margin: 0;
        }
    }
}

/* FIN FOOTER */