/* HEADER */

header {
    border: 2px solid rgb(231, 57, 57);
    border-radius: 2px;
    nav {
        background-color: lightcoral;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 35%;
            border: 1px solid black;
            border-radius: 100%;
            margin:5px 0 5px 5px;
            display: flex;
        }
        h1 {
            text-decoration: underline;
        }

        ul {
            list-style: none;
            margin-right: 25px;
            display: flex;
            li {
                margin-right: 25px;
                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        text-decoration: underline;
                        color: #5f7f7a;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
}

/* FIN HEADER */