/* INICIO */
@import "../base/variables";

main {
    .inicio-container {
        background-color: $bg-color;
    }

    .difProd-container {
        margin-top: 30px;
        display: flex;
        .dif-prod {
            width: 20%;
        }
    }
}
