/* MAIN */
@import "../base/variables";

main {
    background-color: $bg-color;
    .titulo-productos {
        border: 2.5px solid $prime-color;
        background-color: $card-color;
        text-align: center;
        margin: 20px;
        h2 {
            padding: 20px;
        }
    }

    .container {
        .row {
            .col-xs-12 {
                .box {
            background-color: $card-color;
            border-radius: 1%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            
            &:hover {
                transform: scale(1.025);
                transition: all 0.3s;
            }
                    .img-container {
                        a{
                            img {
                            }
                        }
                    }

                    .titulo-box {
                        text-align: center;
                        padding: 5px;
                    }

                    .precio-box {
                        padding: 5px;
                        font-weight: bold;
                        font-size: 20px;
                    }

                    .boton-container {
                        .boton-box {
                            border-radius: 2%;
                            margin-top: 5px;
                            padding: 10px;
                            font-size: 18px;
                            font-weight: bold;
                            background-color: $bg-boton;
                            width: 100%;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

/* main {
    .titulo-productos {
        background-color: $bg-color;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .productos-container {
    background-color: $bg-color;
    display: flex;
    .box-container {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
            width: 15%;
            background-color: $card-color;
            border-radius: 1%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            
            &:hover {
                transform: scale(1.025);
                transition: all 0.3s;
            }

            .titulo-box {
                text-align: start;
                padding: 5px;
            }
            .img-container {
                display: flex;
                justify-content: center;
                img {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            }
            .parrafoBox-container {
                margin-left: 5px;
                .parrafo-box {
                    text-align: start;
                }
            }
            .precio-box {
                padding: 5px;
                font-weight: bold;
                font-size: 20px;
            }
            .boton-container {
                .boton-box {
                border-radius: 2%;
                margin-top: 15px;
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
                background-color: $bg-boton;
                width: 100%;
                border: none;
            }
            }
            @media screen and (max-width: 576px) and (max-height: 915px) {
                width: 90%;
            }
            @media screen and (min-width: 576px) and (max-width: 730px) {
                width: 75%;
            }
            @media screen and (min-width: 731px) and (max-width: 1200px) {
                width: 25%;
                margin: 5px;
            }
        }
    @media screen and (max-width: 576px) and (max-height: 915px) {
    flex-direction: column;
    }
    @media screen and (min-width: 577px) and (max-width: 730px) {
    flex-direction: column;
    }
    @media screen and (min-width: 576px) and (max-width: 1200px) {
        justify-content: space-between;
    }
    }
@media screen and (min-width: 576px) and (max-width: 730px) {
    justify-content: center;
    }
}
} */


/* FIN MAIN */