/* MAIN */
@import "../base/variables";

.productos-container {
    background-color: $bg-color;
    display: flex;
    .box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
            width: 20%;
            background-color: $card-color;
            border: 1px solid black;
            border-radius: 1%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            
            .titulo-box {
                text-align:center ;
                padding: 20px;
            }
            .img-container {
                display: flex;
                justify-content: center;
                img {
                width: 100%;
                /* border: 1px solid black; */
                /* border-radius: 2%; */
                display: flex;
                justify-content: center;
            }
            }
            .parrafoBox-container {
                padding: 15px;
                .parrafo-box {
                margin-top: 5px;
                }
            }
            .precio-box {
                padding: 10px;
                font-weight: bold;
                font-size: 20px;
            }
            .boton-container {
                padding: 2px;
                .boton-box {
                border-radius: 2%;
                margin-top: 15px;
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
                background-color: $bg-boton;
                width: 100%;
                border: 1.5px solid black;
                /* border-top: 2px solid black; */
            }
            }
        }
    }
}

/* FIN MAIN */